


<form method = "post" action="/claim">
<div class="input-group">
    <input type="hidden" id="taskId<%=item._id%>" name="taskId" value="<%=item._id%>">
    <input type="hidden" id="email" name="email" value="<%=email%>">
    <div name="checkboxNode" class="input-group-prepend hidden">
        <div class="input-group-text">
            <input onChange="this.form.submit()" type="checkbox" class="check" data-toggle="toggle" aria-label="Checkbox for following text input">
        </div>
    </div>
    <input class="form-control no-line" type="text" placeholder="Unclaimed" readonly>
    <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Claim</button>
    </div>
</div>
</form>

